section {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #F7F7F9;
}

.footer {
  width: 95%;
  border-top: 3px solid #D3B4A1;
}
