
section {
  height: auto;
  padding: 50px;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 99;
}

img {
  max-width: 150px;
  border-radius: 100px;
  padding: 15px;
}

.mat-icon {
  color: #6B5F54;
}

.mat-icon:hover {
  color: #D3B4A1;
  cursor: pointer;
}

.mat-primary {
  background-color: #D3B4A1;
  border-radius: 30px;
  font-size: 18px;
  margin: 5px;
  border: 2px solid #D3B4A1;
  color: #6B5F54;
  margin: 5px;
}
