<section class="d-flex align-items-center">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <mat-icon matTooltip="voltar" [routerLink]="['/home']">keyboard_backspace</mat-icon>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Acesse sua conta</h2>
          <mat-error *ngIf="loginInvalid">
            O usuário e/ou senha estão incorretos :/
          </mat-error>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Usuário" formControlName="username" required>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Senha" formControlName="password" required>
          </mat-form-field>
          <button mat-flat-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>
