<section id="menu">
  <nav>
    <div class="row d-flex align-items-center">
      <div class="col-7">
        <a [routerLink]="['/home']">
          <img src="assets/images/logo.png" class="brand-logo" alt="Ms. Marge">
        </a>
      </div>
      <div class="col-5 d-flex flex-row-reverse">
        <a *ngIf="user === null" [routerLink]="['/login']" class="menu d-flex align-self-center">
          <mat-icon> person_pin</mat-icon> <span class="text">Login</span>
        </a>
        <a *ngIf="user !== null" class="menu d-flex align-self-center">
          <mat-icon> person_pin</mat-icon> <span  class="text" (click)="logout()">Logout</span>
        </a>
        <a *ngIf="user !== null" matTooltip="Histórico de compras" [routerLink]="['/historico-de-compras']" class="menu d-flex align-self-center">
          <mat-icon>description</mat-icon> <span class="text">meus pedidos</span>
        </a>
        <!-- todo - quantidade de itens no Carrinho  -->
        <a matTooltip="Carrinho de compras" [routerLink]="['/carrinho-de-compras']" class="menu d-flex align-self-center">
          <mat-icon matBadge="{{ cartQuantity }}" matBadgeColor="warn">shopping_basket</mat-icon> <span class="text">carrinho</span>
        </a>
      </div>
    </div>
  </nav>
</section>

