<section #productList class="container">
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-08.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">aparador buffet</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-04.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">aparador buffet</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-01.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">aparador</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-02.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">poltrona</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-03.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">poltrona</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-05.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">poltrona e puff</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-07.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">estante</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-06.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">guarda-roupa</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-09.jpg" class="rounded mx-auto d-block" alt="...">
    <div class="card-body">
      <h5 class="card-title">armário</h5>
      <p class="card-text">estante de madeira</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
