<section #productList class="container">
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-08.jpg" class="rounded mx-auto d-block" alt="Na imagem um aparador buffet branco, com dois quadros e um espelho redondo acima dele, e com um vaso com plantas de cada lado">
    <div class="card-body">
      <h5 class="card-title">aparador buffet</h5>
      <p class="card-text">Aparador branco com duas portas e duas gavetas</p>
      <p class="card-text">R$ 429,79</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-04.jpg" class="rounded mx-auto d-block" alt="Na imagem um aparador com duas portas, uma branca e a outra azul clara, em cima do móvel do lado esquerdo contém um vaso pequeno com planta">
    <div class="card-body">
      <h5 class="card-title">aparador buffet</h5>
      <p class="card-text">Aparador <i>multicor</i> com duas portas</p>
      <p class="card-text">R$ 529,99</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-01.jpg" class="rounded mx-auto d-block" alt="Na imagem um aparador com 4 compartimentos abertos e duas gavetas">
    <div class="card-body">
      <h5 class="card-title">aparador</h5>
      <p class="card-text">Aparador com compartimentos coloridos e duas gavetas</p>
      <p class="card-text">R$ 499,85</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-02.jpg" class="rounded mx-auto d-block" alt="Na imagem uma cadeira de estrutura metálica esmaltada na cor preto, e retangular, com assento branco">
    <div class="card-body">
      <h5 class="card-title">poltrona</h5>
      <p class="card-text">Poltrona de base metálica </p>
      <p class="card-text">R$ 615,29</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-03.jpg" class="rounded mx-auto d-block" alt="Na imagem uma poltrona vista de costas, com a estrutura em madeira clara, em sua cor horiginal, com assento laranja escuro">
    <div class="card-body">
      <h5 class="card-title">poltrona</h5>
      <p class="card-text">Poltrona de estrutura de madeira com assento removível</p>
      <p class="card-text">R$ 709,93</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-05.jpg" class="rounded mx-auto d-block" alt="Na imagem uma poltrona reclinável com um puff para apoio de pés, com estrutura em madeira e revestida de couro preto">
    <div class="card-body">
      <h5 class="card-title">poltrona e puff</h5>
      <p class="card-text">Poltrona em madeira e couro</p>
      <p class="card-text">R$ 1029,99</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-07.jpg" class="rounded mx-auto d-block" alt="Na imagem uma estante em madeira crua repleta com artigos de decoração">
    <div class="card-body">
      <h5 class="card-title">estante</h5>
      <p class="card-text">Estante de madeira mdf</p>
      <p class="card-text">R$ 329,99</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-06.jpg" class="rounded mx-auto d-block" alt="Na imagem um guarda-roupa com quatro portas e duas gavetas, com as cores alternadas em cinza escuro, cinza claro, branco e amarelo. Ao lado direito possui uma estante com quatro prateleiras e uma gaveta na cor cinza escuro">
    <div class="card-body">
      <h5 class="card-title">guarda-roupa</h5>
      <p class="card-text">Conjunto de guarda-roupa e estante colorido</p>
      <p class="card-text">R$ 1289,99</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
  <div class="col card text-center product-card">
    <img src="assets/images/products/product-09.jpg" class="rounded mx-auto d-block" alt="Na imagem um armário com duas portas brancas, e quatro gavetas com cores alternadas sendo elas: azul claro, cinza, branco e bege. Ao lado direito possui um vaso médio com planta, em cima ao lado direito possui dois vasos pequenos com plantas. E no chão ao lado esquerdo, possui uma mesinha de centro com pequenos vasos de cerâmica vazios.">
    <div class="card-body">
      <h5 class="card-title">armário</h5>
      <p class="card-text">Armário com duas portas e quatro gavetas em tons pastéis</p>
      <p class="card-text">R$ 849,79</p>
      <button mat-button color="primary">Veja mais</button>
    </div>
  </div>
</section>
