section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  padding: 40px;
}

img {
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 10px;
  height: auto;
}

.product-card {
  align-content: center;
  align-items: center;
  padding: 30px;
  flex: 0 25%;
}

.mat-flat-button {
  background-color: #D3B4A1;
  color: #6B5F54;
}

::ng-deep {
  .mat-focused .mat-form-field-label {
    color: #6B5F54 !important;
   }
   .mat-form-field-underline {
    background-color: #D3B4A1 !important;
  }
  .mat-form-field-ripple {
    background-color: #D3B4A1 !important;
   }
}
