<nav>
  <app-menu></app-menu>
</nav>
<section #header>
  <img class="overlay-img" src="assets/images/header-home.png" alt="Do lado esquerdo da imagem tem uma caixa de texto escrito em inglês, Furniture store. Do lado direito, existe a imagem de uma poltrona rosa.">
</section>
<section #products>
  <div class="col-md-6 text-center">
    <!-- todo - search só na home -->
    <mat-icon>search</mat-icon>
    <a href="" class="menu">Pesquisa</a>
  </div>
  <app-cards></app-cards>
</section>
<section #footer>
  <app-footer></app-footer>
</section>
