<nav>
  <app-menu></app-menu>
</nav>
<section #product class="d-flex align-items-center">
  <div class="container">
    <div class="row" *ngFor="let option of showProduct">
      <div class="col-6 align-self-center">
        <img src="{{ option.imgPath }}" alt="{{ option.imgDescription }}" class="rounded">
      </div>
      <div class="col-6 align-self-center">
        <p><strong>{{ option.productName }}</strong></p>
        <p>{{ option.description }}</p>
        <p>R$ {{ option.price }}</p>
        <div class="row">
          <div class="totalProcuts d-flex justify-content-around align-self-center">
            <mat-icon (click)="decreaseCounter()">remove</mat-icon>
            {{ quantityCounter }}
            <mat-icon (click)="increaseCounter()">add</mat-icon>
          </div>
          <button mat-flat-button color="primary" (click)="addToCart()" disabled="{{ disabledButton }}">Adicionar ao carrinho</button>
        </div>
        <div class="row warningMessage" *ngIf="this.message !== null">{{ message }}</div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
